<%= turbo_frame_tag "main_content" do %>

  <% unless user_signed_in? %>
    <%= turbo_frame_tag "auth_form" do %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  <% else %>
    <%= link_to "Go to Dashboard", dashboard_path %>
  <% end %>
</div>

<% end %>
